#delta{
    display: flex;
    
}

#margin{
   text-align: center;
}


#right{
    text-align: end;
}

div{
    text-align: center;
    color: aliceblue;


}

green{
    color: green;
}